<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016-2018  Irotsoma, LLC
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>
  -->

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{{layout.title}}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/{{bootstrapVersion}}/css/bootstrap.min.css" />
    <script type="text/javascript"
            src="/webjars/jquery/{{jqueryVersion}}/jquery.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/{{bootstrapVersion}}/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            {{#menus}}
                <li class="nav-item{{#containsMenuItems}} dropdown{{/containsMenuItems}}">
                    <a class="nav-link{{#containsMenuItems}} dropdown-toggle{{/containsMenuItems}}" href="{{#path}}{{.}}{{/path}}{{^path}}#{{/path}}"{{#containsMenuItems}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{{/containsMenuItems}}>{{name}}</a>
                    {{#containsMenuItems}}
                        <div class="dropdown-menu">
                    {{/containsMenuItems}}
                    {{#menuItems}}
                                <a class="dropdown-item" href="{{path}}">{{name}}</a>
                    {{/menuItems}}
                    {{#containsMenuItems}}
                        </div>
                    {{/containsMenuItems}}
                </li>
            {{/menus}}
            </ul>
        </div>
    </nav>
    {{{layout.body}}}
</body>
</html>
